/* *{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
   text-decoration: none;
}
:root{
    --text-color:#fff;
    --main-color: #b74b4b;
}
html{
    font-size:62.5%;
    
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: var(--text-color);
}
header{
    position: fixed;
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    
}
.navlist{
    display: flex;
    list-style-type: none;
}
.navlist a{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all .6s ease;
    border-bottom: 3px solid transparent;
}
.navlist a:hover{
    color: #f64e4e;
    border-bottom: 3px solid var(--main-color);
}
.logo {
    font-size: 3rem;
    font-weight: 800;
    color: var(--main-color);
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all .5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
section{
    padding: 0 14%
}
.hero{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #000;;
}  
.hero-img img{
    width:32vw;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 25px solid var(--main-color);
    transition: .3s linear;
} 
.hero-img img:hover{
    font-size: 1.8rem;
    font-size: 500;
}
.hero-text h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    }
span{
    color: var(--main-color);
}
.hero-text h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.hero-text p{
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
}
.icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
    color: var(--text-color);
}
.icons a:hover{
    color: #000;
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    background-color: #000;
    color: var(--main-color);
    font-size: 1.6rem;
    letter-spacing: .3rem;
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: .3s ease;
    cursor: pointer;
}    
.btn:hover{
    transform: scale(1.03);
    background-color: var(--main-color);
    color: #000;
    box-shadow: 0 0 25px var(--main-color);
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "Sowtware Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.typing-text span::after{
    content: "";
    background-color: #000;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #000;
    right: -8;
    animation: cursor .6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid var(--main-color);
    }
}
@keyframes words{
    0%,20%{
        content: "Web delveloper";
    }
    21%,40%{
        content:"Software Developer";
        }
        41%,60%{
            content:"Web Designer";
        }
        61%,80%{
            content:"Youtuber";
        }
        81%,100%{
            content:"Script Writer";
        }
}
@media (max-width: 768px) {
    .hero{
      flex-direction: column;
    }
  }
     */